@{
    ViewBag.Title = "An Error Occurred";
}

<h2>An Error Occurred</h2>

<div>
    <p>We're sorry, something went wrong while processing your request.</p>
    <p>Please try again later or <a href="@Url.Action("Index", "Employee")">click here</a> to return to the homepage.</p>
</div>
