
@{
    ViewBag.Title = "Page Not Found";
}

<h2>404 - Page Not Found</h2>

<div>
    <p>Sorry, the page you are looking for does not exist or has been moved.</p>
    <p>Please check the URL or <a href="@Url.Action("Index", "Employee")">click here</a> to return to the homepage.</p>
</div>